<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
      <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name" id="goHome">
        <h1><a href="#">ᖷlip/Side</a></h1>
      </li>
    </ul>
    <% if signed_in? %>
      <span>
<!--  -->
      </span>
      <span>
        <%= link_to "Log Out", signout_path, :method => :delete %>
      </span>

    <% else %>

      <span>
        <a href="#" data-reveal-id="signin_button">Log In</a>

        <div id="signin_button" class="reveal-modal" data-reveal>
          <h2>Log In</h2>
          <form action="/signin" method="get" id="signin_form">
            <div>
              <input type="text" name="email" placeholder="Email" required></input>
              <input type="password" name="password" placeholder="Password" required></input>
            </div>
            <button type="submit" value="Sign In" name="signin">Sign In</button>
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </span>

      <span>
        <a href="#" data-reveal-id="signup_button">Sign Up</a>

        <div id="signup_button" class="reveal-modal" data-reveal>
          <h2>Sign Up</h2>
          <form action="/signup" method="get" id="signup_form">
            <div>
              <input id="signup_name", type="text" name="name" placeholder="Name" required></input>
              <input id="signup_email", type="text" name="email" placeholder="Email" req(uired></input>
              <input id="signup_password", type="password" name="password" placeholder="Password" required></input>
              <input id="signup_password_confirmation", type="password" name="password_confirmation" placeholder="Password Confirmation" required></input>
            </div>
            <button type="submit" value="Sign Up" name="signup">Sign Up</button>
          </form>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </span>

    <% end %>

    </section>
  </nav>
  <div id = "container">
    <!-- It all gets rendered in here -->
  </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
